* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  text-align: center;
}

:root {
  --primary-dark: #357a38;
  --primary: #4caf50;
  --primary-light: #6fbf73;

  --secondary-dark: #b2a300;
  --secondary: #ffea00;
  --secondary-light: #ffee33;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(50, 50, 50);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
